<article class="card shadow mb-2">
    <div class="card-body">
        <p>{{this.origin}}</p>
        <p>{{this.shortURL}}</p>
        <a href="/eliminar/{{this._id}}" class="btn btn-danger">Eliminar</a>
        <a href="/editar/{{this._id}}" class="btn btn-warning">Editar</a>
        <button data-short="{{this.shortURL}}" href="#" class="btn btn-primary">Copiar</button>
    </div>
</article>